body {
  background-color: #dbdbdb;
}

.sike {
  text-align: center;
  padding-top: 50px;
}

.overview {
  width: 600px;
  text-align: center;
  position: relative;
  left: 15%;
  display: inline-block;
  padding-top: 100px;
  font-size: 1.3rem;
}

.logo {
  width: 400px;
  height: auto;
  position: absolute;
  right: 23%;
  padding-top: 75px;
}

.topics {
  width: 1500px;
  position: relative;
  left: 13%;
  padding-top: 200px;
  font-size: 1.1rem;
}

h2 {
  text-align: center;
}

td {
  padding: 20px 35px 20px;
  font-size:1.2rem;
  border: 1.3px solid black;
  text-align: center;

}

.tablel {
  position:absolute;
  right: 5%;
  margin-top: 100px;
  border-collapse: collapse;
  padding-bottom: 200px;
}

th {
  width: 400px;
  background-color: #5fdde5;
}

.table2 {
  position: absolute;
  right:8%;
  margin-top: 500px;
  border-collapse:collapse;
  margin-bottom: 200px;
}
